@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img id="minhaFoto" src="img/fotinha.jpg" class="img-thumbnail float-end" />
    <br />
    <h2>Ola me chamo Júlio Junior Saldanha Alegre</h2> 
    <div class="container" id="apresentação">
    <p>Estou aplicando este teste para uma vaga de programador .NET pleno (Remoto)</p>
    <p> Minha pretenção Salarial é de R$ 2500,00 ao mês</p>
    <p> Iniciei este teste no dia 28/11/2022 </p>


    Minhas redes:
    <ul>
            <li><a href="https://www.linkedin.com/in/júliojúniorsaldanhaalegre/">Linkedin</a></li>
        <li><a href="https://github.com/JulioJuniorSaldanha">Github</a></li>
        <li><a href="https://www.instagram.com/juniorsaldanhaalegre/">Instagram</a></li>
    </ul>
    </div>
 
    
</div>
