@{
    ViewData["Title"] = "About";
}

<h2>o maior desafio de minha carreira na programação </h2>

<p>Acredito que o maior desafio que tive em minha jornada como programador foi quando estava dando os primeiros passos no C#, pois por não conhecer muito bem as sintaxe da linguagem acabei deixando varios erros passarem. </p>
<p>A forma que eu consegui aprender melhor C# foi fazendo ligaçoes dele com o JAVA, pois ambos tem muitas coisas em comum como serem fortemente tipadas e etc.</p>
<p>O primeiro software que criei em C# foi um gerenciador de senhas, para acessa-lo o usuario teria que criar um usuario e senha após isso ele poderia logar no sistema para cadastrar seu usuario e senha de sistes apps e etc.</p>
<br />
<ul>
    <li>A tecnologia utilizada foi .NET 4.5</li>
    <li>O Front-End era feito com windowns form</li>
</ul>