html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#minhaFoto{
    width: 10%;
}

#apresentação{
    margin-top:10px;
    margin-bottom: 100px;
}