html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a{
    font-size: 15px;
}

#cabecalho {
    background-color: #6d26c2;
    padding-top: 5px;
    padding-bottom: 5px;
}



#logo {
    margin-right: 50px;
    
}


#minhaFoto {
    width: 10%;
}

#apresentação{
    margin-top:10px;
    margin-bottom: 100px;
}